<ion-content>
  <ion-grid class="grid1">

      <ion-row class="row1">
          <ion-col>

          </ion-col>
      </ion-row>

      <ion-row class="row2">
          <ion-col>

          </ion-col>
      </ion-row>

  </ion-grid>

  <ion-slide>
      <div class="contaier-login">

        <ion-title>
          <img src="assets/img/LogoHelpMe.png"/>
        </ion-title>
        <form>
          <ion-grid>
              <ion-row>
                  <ion-col color="dark">
                      <h1>Iniciar Sessão</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
                          <ion-item>
                              <ion-icon name="person" class="icon-login"></ion-icon>
                              <ion-input type="email" placeholder="Email" name="email"></ion-input>
                          </ion-item>
                          <br/>
                          <ion-item>
                              <ion-icon name="lock-closed" class="icon-login"></ion-icon>
                              <ion-input name="senha" type="password" placeholder="Senha"></ion-input>
                          </ion-item>

                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button href="home">Logar</ion-button>
                    </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3><a href="#"> Esqueceu a senha?</a></h3>
                      </ion-label>
                      <ion-label>
                        <h4><a href="cadastro"> Cadastrar-se</a></h4>
                      </ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
        </form>
      </div>
  </ion-slide>
</ion-content>

