<ion-header #header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

        <ion-title>
          <img src="assets/img/Logo_H4.png"/>
        </ion-title>
    <ion-buttons slot="end">
      <ion-button href="tabnotif">
        <ion-icon  name="chatbubbles" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" scrollEvents="true">

      <div *ngIf="segment === 'home'">
        <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
      </div>

</ion-content>

