ion-toolbar {
  --border-style: none;
  align-items:  center;
  text-align: center;
}
ion-buttons{
  color:#b19cd9 ;
 }
ion-header {
  background: #fff;
}
.toolbar-title{
  align-items:  center;
}
.my-custom-menu {
  --width: 500px;
}
