
ion-content{
  --background: #fff;
  .tabs{
   margin-top:10px;
   font-family: Nato Sans HK;
   ion-segment{
       -backgroud: none;
      }
   ion-segment-button{
       font-size: 1rem;
       --border-widt:0;
       --padding-start:8px !important;
       --padding-botton:3px !important;
       --padding-end:8px !important;
       --padding-top:3px !important;
       --background-checked:#b19cd9;
       --indicator-color: transparent !important;
       --color: #d1d1d1;
       --color-checked:#fff;
       font-weight: bold;
       border-radius: 15px;


      }
  }

.chat-list{
   background: #fff;
   margin-top: 15px;
   border-top-right-radius: 38px;
   border-top-left-radius: 38px;

   .all-chats{
       padding-top: 0;
   }
   .heading{
       display: flex;
       justify-content: space-between;
       align-items: center;
       color:#e5e5e7;
       h1{
           font-size: 1.2rem;
           font-weight: bold;
           color: rgb(7, 0, 0);

          }
          ion-icon{
              font-size: 1,5rem;

          }
   }
   .chats{
       margin-top: 15px;
       ion-item::part(native){
           padding: 100;
       }
      ion-item{
          margin-bottom: 15px;
          ion-avatar{
              width: 100%!important;
              height: 100%!important;
              max-width: 51px;
          }
          ion-label{
              h2{
                  font-size: 1rem;
                  font-weight: bolder;
                  color:black;

              }
              p{
                  margin-top: 6px;
                  font-size: 0.8rem;
                  color: rgb(0, 0, 0);
                  opacity: 0.5;
                  letter-spacing: 0.5;
                  font-weight: bold;

              }
          }
          .info-div{
              position: absolute;
              right: 0;
              font-size: 0.8rem;
              color: #000000;
              font-weight: bolder;
              text-align: right;
              p{
                  opacity: 0.5;

              }
              ion-icon{
                  font-size: 1.3rem;
              }
              ion-badge{
                  font-size: 10px;

                  --padding-start:5px;
                  --padding-end:5px;
                  --padding-bottom: 3px;
                  --padding-top:3px;
                  --background: #b19cd9;
              }
          }
      }

  }


 }
 ion-fab-button{
     position: fixed;
     z-index: 111;
     bottom:30px;
     right: 15px;
     --background: #b19cd9;
  }
}
ion-toolbar {
  --border-style: none;
  align-items:  center;
  text-align: center;
}
ion-buttons{
  color:#b19cd9 ;
 }
