<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button tab="menu">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

        <ion-title>
          <img src="assets/img/Logo_H4.png"/>
        </ion-title>
    <ion-buttons slot="end">
      <ion-button tab="tabnotif" href="tabnotif">
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>

      <app-explore-container name="Tab Job"></app-explore-container>



        <!-- Icons -->
        <ion-list class="jobs">


          <ion-item>
            <ion-icon name="settings" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administrador</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="book" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Advogado</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="assets/img/barbershop.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Barbeiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="cut" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cabelereiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="key" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chaveiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="calculator" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Contador</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="business" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Corretor de imóveis</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="restaurant" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Cozinheira</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-icon name="code-slash" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desenvolvedor de Sistema</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="school" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Educador</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-icon name="Medkit" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enfermeiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/glyph-neue/36/000000/engineer.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Engenheiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/38/000000/-electricity-triangle-sign.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Eletricista</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/beautician.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Esteticista</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/truck.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Frete</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/language.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Interprete</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-glyphs/36/000000/hydropponics.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Jardineiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/automatic-car-wash.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Lavador de Autos</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/sign-language-z.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Libras</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

         <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/mascara.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Maquiador</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/nails.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Manicure</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/pastel-glyph/36/000000/massage.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Massagista</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="build" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Mecânico</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <img src="https://img.icons8.com/ios-filled/36/000000/laying-bricks.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Pedreiro</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>


          <ion-item>
            <img src="https://img.icons8.com/external-smashingstocks-hand-drawn-black-smashing-stocks/36/000000/external-pedicure-health-beauty-and-fashion-smashingstocks-hand-drawn-black-smashing-stocks-2.png"/>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Podóloga</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon name="megaphone" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Publicitários</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-icon name="paw" size="large" color="black"></ion-icon>
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veterinário</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>

        </ion-list>

</ion-content>
